@{ ViewData["Title"] = "View Appointments";
}

@model IEnumerable<_413_Project_one.Models.Group>

<h1 class="text-center">Scheduled Tours</h1>
<div class="cards">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover" style="width: 50vw; margin-bottom: 0;">
                <thead>
                    <tr>
                        <th class="text-center">Group ID</th>
                        <th class="text-center">Group Name</th>
                        <th class="text-center">Group Size</th>
                        <th class="text-center">Appointment Date</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="3" class="text-center">No Scheduled Tours</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td class="text-center">@x.GroupID</td>
                                <td class="text-center">@x.GroupName</td>
                                <td class="text-center">@x.GroupSize</td>
                                <td class="text-center">@x.GroupAppointmentID</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
