@{ ViewData["Title"] = "View Appointments";
}

<h1 class="text-center">Scheduled Tours</h1>
<div class="cards">
    <div class="card">
        <div class="card-body">
            <table class="table table-hover" style="width: 50vw; margin-bottom: 0;">
                <thead>
                    <tr>
                        <th class="text-center">Group Name</th>
                        <th class="text-center">Group Size</th>
                        <th class="text-center">Appointment Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-center">Layton 5th ward</td>
                        <td class="text-center">30</td>
                        <td class="text-center">February 31, 2021: 5PM</td>
                    </tr>
                    <tr>
                        <td class="text-center">Layton 3rd ward</td>
                        <td class="text-center">17</td>
                        <td class="text-center">February 31, 2021: 6PM</td>
                    </tr>
                    <tr>
                        <td class="text-center">Layton 3rd ward</td>
                        <td class="text-center">17</td>
                        <td class="text-center">February 31, 2021: 6PM</td>
                    </tr>
                    <tr>
                        <td class="text-center">Layton 3rd ward</td>
                        <td class="text-center">17</td>
                        <td class="text-center">February 31, 2021: 6PM</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
